$header-font-size-1: 34px;
$header-font-size-2: 24px;
$header-font-size-3: 20px;

$body-font-size-1: 16px;
$body-font-size-2: 14px;
$body-font-size-3: 12px;

$button-font-size: 13px;
$caption-font-size: 11px;